        @import url('https://fonts.googleapis.com/css2?family=Pirata+One&family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
    h1 {
        color: white;
        font-family: treasure;
    }
    
    h2 {
        color: white;
        font-family: treasure;
    }
    
    h3 {
        color: white;
        font-family: treasure;
    }
    
    p {
        color: white;
        font-family: 'Open Sans', sans-serif;
    }
    /*xFontsx*/
    
    @font-face {
        src: url(fonts/Skullsandcrossbones-RppKM.ttf);
        font-family: treasure;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    @keyframes animazione {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    p::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    h1::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    h2::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    h3::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    h4::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    h5::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    h6::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    a::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    td::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    
    img::selection {
        background: rgb(255, 235, 202);
        color: rgb(37, 36, 36);
    }
    /*Scrollbar*/
    /* width */
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    
     ::-webkit-scrollbar-track {
        background: transparent;
    }
    /* Handle */
    
     ::-webkit-scrollbar-thumb {
        background: rgb(80, 80, 80);
        border-radius: 50px;
    }
    /* Handle on hover */
    
     ::-webkit-scrollbar-thumb:hover {
        background: rgb(100, 100, 100);
    }
    /*xScrollbarx*/
    
    body {
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: rgb(33, 33, 33);
        animation: animazione 2s ease forwards;
    }
    /*-Navbar-*/
    
    nav {
        z-index: 2;
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0px;
        background-image: url(img/navbar_1.png);
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
    nav p {
        float: right;
        padding: 13px 14px;
        font-size: 20px;
        font-family: treasure;
    }
    
    nav a:hover {
        color: rgb(231, 193, 133);
        text-decoration: none;
    }
    
    nav ul {
        float: left;
        font-family: treasure;
        display: flex;
    }
    
    nav ul li {
        float: left;
        list-style: none;
        position: relative;
    }
    
    nav ul li a {
        display: block;
        font-family: treasure;
        color: white;
        font-size: 14px;
        padding: 18px 14px;
        text-decoration: none;
    }
    
    nav ul li a:after {
        text-decoration: none;
        color: #fff;
    }
    
    nav ul li ul {
        display: none;
        position: absolute;
        background-color: rgb(50, 50, 50);
        padding: 10px;
        border-radius: 0px 0px 7px 7px;
    }
    
    nav ul li:hover ul {
        display: block;
        text-decoration: none;
        color: rgb(231, 193, 133);
    }
    
    nav ul li ul li a {
        padding: 20px 15px;
    }
    
    nav ul li ul li {
        width: 180px;
        border-radius: 4px;
    }
    
    nav ul li ul li a:hover {
        background-color: rgb(50, 50, 50);
        border-radius: 7px;
        color: rgb(231, 193, 133);
        text-decoration: none;
    }
    
    a i {
        margin-left: 5px;
    }
    
    @media screen and (max-width: 768px) {
        .line {
            width: 30px;
            height: 3px;
            background: white;
            margin: 5px;
        }
        nav p {
            float: left;
            z-index: 2;
        }
        .hamburger {
            display: visible;
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 35%;
            transform: translate(-5%, -50%);
            z-index: 2;
        }
        .nav-links {
            height: 12vh;
            margin-left: 30px;
            flex-direction: column;
            transition: all .3s ease-out;
            pointer-events: none;
            align-items: center;
            justify-content: space-around;
            margin-left: auto;
            width: 100%;
            padding: 0;
            height: 100vh;
            width: 100%;
            margin: 0;
            position: fixed;
            opacity: 0;
        }
        .nav-links.open {
            pointer-events: all;
            background-color: rgb(31, 31, 31);
            padding: 2vh;
            opacity: 1;
        }
        .nav-links.open li a {
            font-size: 3rem;
        }
        .landing {
            flex-direction: column;
        }
    }
    /*-xNavbarx-*/
    /*-Header-*/
    
    .video-background {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        bottom: 25%;
        animation: animazione 3s ease forwards;
    }
    
    header {
        max-height: 20vh;
    }
    
    .app-text img {
        height: 40vh;
        margin-top: 20vh;
    }
    /*Footer*/
    
    footer {
        clear: both;
        position: relative;
        margin-top: 105rem;
        margin-bottom: 0;
        align-items: center;
    }
    
    footer p {
        color: #999;
        line-height: 25px;
    }
    
    footer h2,
    h3 {
        color: #fff;
        font-family: treasure;
    }
    
    footer h2 {
        font-size: 18px;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
    .footer-top {
        background: #111;
        padding: 80px 0;
    }
    
    .segment-one {
        margin-left: 15rem;
    }
    
    .segment-one h3 {
        font-family: treasure;
        color: #fff;
        letter-spacing: 3px;
        margin: 10px 0;
        font-size: 3rem;
    }
    
    .segment-two h2 {
        font-family: treasure;
        color: #fff;
        letter-spacing: 3px;
        margin: 10px 0;
        font-size: 3rem;
    }
    
    .segment-two h2:before {
        content: '|';
        color: rgb(174, 135, 74);
        padding-right: 10px;
    }
    
    .segment-two ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .segment-two ul li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        line-height: 40px;
    }
    
    .segment-two ul li a {
        color: #999;
        text-decoration: none;
    }
    
    .segment-three h2 {
        font-family: treasure;
        color: #fff;
        letter-spacing: 3px;
        margin: 10px 0;
        font-size: 3rem;
    }
    
    .segment-three h2:before {
        content: "|";
        color: rgb(174, 135, 74);
        padding-right: 10px;
    }
    
    .segment-three a {
        background: #494848;
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
    }
    
    .segment-three a i {
        font-size: 20px;
        color: #fff;
        padding: 10px 6px;
    }
    
    .segment-four h2 {
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        text-transform: uppercase;
    }
    
    .segment-four h2:before {
        content: "|";
        color: rgb(174, 135, 74);
        padding-right: 10px;
    }
    
    .segment-four form input[type=submit] {
        background: rgb(174, 135, 74);
        border: none;
        padding: 3px 15px;
        margin-left: -5px;
        color: #fff;
        text-transform: uppercase;
    }
    
    .footer-bottom-text {
        text-align: center;
        background-image: linear-gradient(to right top, #000000, #050505, #0a0a0a, #0e0e0e, #121212);
        line-height: 75px;
        margin-bottom: none;
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .md-mb-30 {
            margin-bottom: 30px;
        }
    }
    
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .sm-mb-30 {
            margin-bottom: 30px;
        }
        .footer-top {
            padding: 50px;
        }
    }
    
    @media only screen and (max-width: 992px) {
        .segment-one {
            margin-left: 0rem;
        }
    }
    /*Cards*/
    
    .cards {
        max-width: 1200px;
        padding-top: 65rem;
        margin: 40px auto;
    }
    
    .card {
        margin: 0 1.5%;
        background: transparent;
        align-items: center;
        text-align: center;
        float: left;
        width: 45%;
        padding: 0 7rem;
    }
    
    .card__image {
        width: 350px;
        height: 310px;
    }
    
    .card__copy {
        padding: 20px;
        text-align: center;
        align-items: center;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
    .card__copy h3 {
        font-size: 4.5rem;
        font-weight: 300;
        letter-spacing: 2.5px;
        font-family: treasure;
        color: rgb(231, 193, 133);
    }
    
    .card__copy p {
        font-size: 1.7rem;
        font-weight: 300;
    }
    
    .vertical-line {
        display: block;
        content: "";
        position: absolute;
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 4px;
        width: 100%;
        transform: rotate(90deg);
        z-index: -99;
        background-image: url("img/separator.png");
    }
    /*About us*/
    
    .aboutus-section {
        margin-top: 20rem;
        background-size: 100%;
        overflow: hidden;
        background-image: linear-gradient(to right top, #282828, #252525, #232323, #202020, #1e1e1e);
    }
    
    .aboutus-section img {
        min-height: 100%;
        margin-top: 30px;
        padding-left: 50px;
        padding-right: 50px;
        height: 67.3rem;
        float: centerX;
    }
    
    .inner-container-aboutus {
        align-items: center;
        padding-top: 50px;
        text-align: center;
    }
    
    .inner-container-aboutus h1 {
        margin-bottom: 30px;
        font-size: 5rem;
        font-weight: 900;
        color: rgb(231, 193, 133);
        font-family: treasure;
    }
    
    .inner-container-aboutus p {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
    }
    
    .inner-container-aboutus span {
        color: white;
    }
    /*Livemap*/
    
    .livemap-section {
        margin-top: 95rem;
        background-size: 100%;
        background-image: linear-gradient(to right top, #282828, #252525, #232323, #202020, #1e1e1e);
        overflow: hidden;
    }
    
    iframe {
        background-size: 100%;
        overflow: hidden;
        min-height: 100%;
        width: 62rem;
        height: 67.3rem;
        float: right;
        border: none;
        border-radius: 3px;
    }
    
    .livemap-section .fullscreen {
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        border: 3px solid rgb(231, 193, 133);
        background-color: transparent;
        padding: 12px 32px;
        text-transform: uppercase;
        transition: 0.2s ease-in-out;
        border-radius: 25px;
        cursor: pointer;
        text-decoration: none;
    }
    
    .livemap-section a:hover {
        transform: scale(1);
        text-shadow: none;
        background-color: rgb(231, 193, 133);
        color: black;
    }
    
    .inner-container-livemap {
        width: 60%;
        float: right;
        padding: 100px;
    }
    
    .inner-container-livemap h1 {
        margin-bottom: 30px;
        font-size: 5rem;
        font-weight: 900;
        color: rgb(231, 193, 133);
        font-family: treasure;
    }
    
    .inner-container-livemap span {
        color: white;
    }
    /*Cards footer*/
    
    .cards-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        float: left;
        align-items: center;
        margin: 0 135px 0;
    }
    
    .cards-container .smallcard {
        position: relative;
        cursor: pointer;
    }
    
    .cards-container .smallcard .face {
        width: 300px;
        height: 200px;
        transition: 0.5s;
    }
    
    .cards-container .smallcard .face.face1 {
        position: relative;
        background: rgb(33, 33, 33);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(200px);
    }
    
    .cards-container .smallcard:hover .face.face1 {
        transform: translateY(400px);
    }
    
    .cards-container .smallcard .face.face1 .content {
        opacity: 0.8;
        transition: 0.8s;
    }
    
    .cards-container .smallcard:hover .face.face1 {
        opacity: 1;
    }
    
    .cards-container .smallcard .face.face1 .content img {
        width: 100px;
        align-items: center;
    }
    
    .cards-container .smallcard .face.face1 .content h3 {
        margin: 10px 0 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5em;
    }
    
    .cards-container .smallcard .face.face2 {
        position: relative;
        color: rgb(231, 193, 133);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        transition: TranslateY(-100px);
    }
    
    .cards-container .smallcard:hover .face.face2 {
        transform: translateY(0);
    }
    
    .cards-container .smallcard .face.face2 .content p {
        margin: 0;
        padding: 0;
        color: white;
    }
    
    .cards-container .smallcard .face.face2 .content a {
        margin: 15px 0 0;
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: #333;
        padding: 3px;
        border: 1px solid #333;
    }
    
    .cards-container .smallcard .face.face2 .content a:hover {
        background: #333;
        color: #fff;
    }
    /*Wiki section*/
    
    .wiki-section {
        margin-top: 20rem;
        background-image: linear-gradient(to right top, #282828, #252525, #232323, #202020, #1e1e1e);
        overflow: hidden;
    }
    
    .wiki-section img {
        max-width: 770px;
    }
    
    .inner-container {
        width: 60%;
        float: right;
    }
    
    .inner-container h1 {
        font-size: 5rem;
        font-weight: 900;
        color: rgb(231, 193, 133);
    }
    
    .inner-container span {
        color: white;
    }
    
    .inner-container {
        width: 55%;
        float: right;
        padding: 150px;
    }
    
    .text {
        font-size: 1.5rem;
        color: #D3D3D3;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 40px;
    }
    
    .skills {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        font-size: 13px;
    }
    
    @media screen and (max-width:1550px) {
        .wiki-section {
            margin-top: 30rem;
            background-color: rgb(45, 45, 45);
            overflow: hidden;
        }
        .wiki-section img {
            width: 650px;
        }
        .inner-container {
            width: 50%;
            float: right;
            background-color: rgb(45, 45, 45);
        }
        .inner-container {
            width: 55%;
            float: right;
            background-color: rgb(45, 45, 45);
            padding: 100px;
        }
        iframe {
            width: 60rem;
            height: 65rem;
        }
        .inner-container-livemap {
            padding: 100px;
        }
        .inner-container-livemap h1 {
            font: 4.7rem;
        }
        .inner-container-aboutus h1 {
            font: 4.7rem;
        }
        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            float: left;
            align-items: center;
            margin: 0 100px 0;
        }
    }
    
    @media screen and (max-width:1500px) {
        .wiki-section img {
            width: 630px;
        }
        iframe {
            width: 55rem;
            height: 60rem;
        }
        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            float: left;
            align-items: center;
            margin: 0 90px 0;
        }
    }
    
    @media screen and (max-width:1440px) {
        .wiki-section img {
            width: 600px;
        }
        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            float: left;
            align-items: center;
            margin: 0 80px 0;
        }
    }
    
    @media screen and (max-width:1375px) {
        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            float: left;
            align-items: center;
            margin: 0 70px 0;
        }
        .card {
            align-items: center;
            text-align: center;
            float: none;
            width: 45%;
            padding: 1rem 0;
        }
        .card__image {
            align-items: center;
        }
        .vertical-line {
            display: none;
        }
        .cards {
            max-width: 1200px;
            padding-top: 60rem;
            margin: 40px auto;
        }
        .card__copy {
            padding: 20px;
        }
        iframe {
            width: 50rem;
            height: 55rem;
        }
        .inner-container-livemap {
            padding: 50px;
        }
        .inner-container-livemap h1 {
            font: 4.2rem;
        }
        .inner-container-aboutus {
            padding: 50px;
        }
        .inner-container-aboutus h1 {
            font: 4.2rem;
        }
        .inner-container {
            width: 55%;
            float: right;
            background-color: rgb(45, 45, 45);
            padding: 100px;
        }
    }
    
    @media screen and (max-width:1320px) {
        .wiki-section img {
            width: 550px;
        }
        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            float: left;
            align-items: center;
            margin: 0 60px 0;
        }
    }
    
    @media screen and (max-width:1250px) {
        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            float: left;
            align-items: center;
            margin: 0 50px 0;
        }
        iframe {
            width: 45rem;
            height: 50rem;
        }
        .inner-container-livemap {
            padding: 50px;
        }
        .inner-container-livemap h1 {
            font: 3.7rem;
        }
        .inner-container-livemap p {
            font: 3.7rem;
        }
        .inner-container-aboutus {
            padding: 50px;
        }
        .inner-container-aboutus h1 {
            font: 3.7rem;
        }
        .inner-container-aboutus p {
            font: 3.7rem;
        }
        .text {
            font-size: 1.4rem;
            color: #D3D3D3;
            line-height: 30px;
            text-align: justify;
            margin-bottom: 40px;
        }
    }
    
    @media screen and (max-width:1200px) {
        .cards-container {
            position: relative;
            display: flex;
            justify-content: space-between;
            float: left;
            align-items: center;
            margin: 0 40px 0;
        }
        .inner-container {
            padding: 80px;
        }
        .wiki-section img {
            width: 510px;
        }
    }
    
    @media screen and (max-width:1125px) {
        iframe {
            width: 40rem;
            height: 45rem;
            margin-top: 70px;
        }
        .wiki-section img {
            width: 450px;
            margin-top: 100px;
        }
    }
    
    @media screen and (max-width:1000px) {
        .inner-container-aboutus p {
            text-align: center;
            margin-left: 20px;
            margin-right: 20px;
        }
        .wiki-section {
            margin-top: 30rem;
            background-color: rgb(45, 45, 45);
            overflow: hidden;
        }
        .wiki-section img {
            margin-top: 50px;
            overflow: hidden;
            width: 50rem;
            position: center;
            border: none;
            margin-left: 25%;
            float: unset;
            border-radius: 5px;
        }
        .inner-container h1 {
            font-size: 5rem;
            font-weight: 900;
            color: rgb(231, 193, 133);
            text-align: center;
        }
        .inner-container span {
            color: white;
            text-align: center;
        }
        .inner-container {
            width: 55%;
            float: right;
            background-color: rgb(45, 45, 45);
            padding: 150px;
        }
        .skills {
            display: center;
        }
        .inner-container {
            width: 100%;
        }
        .livemap-section {
            align-items: center;
            position: center;
        }
        .aboutus-section {
            align-items: center;
            position: center;
        }
        iframe {
            background-size: 100%;
            margin-top: 50px;
            overflow: hidden;
            width: 50rem;
            height: 60rem;
            position: center;
            border: none;
            margin-left: 25%;
            float: unset;
            border-radius: 5px;
        }
        .inner-container-livemap {
            float: unset;
            padding: 0;
            margin-left: 20%;
            padding: 50px;
            position: center;
            text-align: center;
        }
        .inner-container-aboutus {
            float: unset;
            padding: 0;
            position: center;
            text-align: center;
        }
        .text {
            text-align: center;
        }
        .livemap-section .fullscreen {
            align-items: center;
            position: center;
            margin-left: 34%;
        }
    }
    
    @media screen and (max-width:900px) {
        .wiki-section img {
            margin-top: 50px;
            overflow: hidden;
            width: 45rem;
            position: center;
            border: none;
            margin-left: 22%;
            float: unset;
            border-radius: 5px;
        }
        .cards-container {
            float: unset;
            margin-left: 50%;
            align-items: center;
            margin: 0 60px 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding-top: 10rem;
        }
        .wiki-section {
            background-size: 100%;
            padding: 100px 40px;
        }
        .inner-container {
            width: 100%;
        }
        .livemap-section {
            align-items: center;
            position: center;
        }
        .aboutus-section {
            align-items: center;
            position: center;
        }
        iframe {
            background-size: 100%;
            overflow: hidden;
            width: 45rem;
            height: 50rem;
            position: center;
            border: none;
            margin-left: 25%;
            float: unset;
            border-radius: 5px;
        }
        .inner-container-livemap {
            float: unset;
            padding: 0;
            margin-left: 24%;
            padding: 50px;
            position: center;
            text-align: center;
        }
        .inner-container-aboutus {
            float: unset;
            padding: 0;
            margin-left: 24%;
            padding: 50px;
            position: center;
            text-align: center;
        }
    }
    
    @media screen and (max-width:750px) {
        .wiki-section img {
            margin-top: 50px;
            overflow: hidden;
            width: 45rem;
            position: center;
            border: none;
            margin-left: 18%;
            float: unset;
            border-radius: 5px;
        }
        .wiki-section {
            background-size: 100%;
            padding: 100px 40px;
        }
        .inner-container {
            width: 100%;
        }
        .livemap-section {
            align-items: center;
            position: center;
        }
        .aboutus-section {
            align-items: center;
            position: center;
        }
        iframe {
            background-size: 100%;
            overflow: hidden;
            width: 45rem;
            height: 50rem;
            position: center;
            border: none;
            margin-left: 22%;
            float: unset;
            border-radius: 5px;
        }
        .inner-container-livemap {
            float: unset;
            padding: 0;
            margin-left: 22%;
            padding: 50px;
            position: center;
            text-align: center;
        }
        .inner-container-aboutus {
            float: unset;
            padding: 0;
            margin-left: 22%;
            padding: 50px;
            position: center;
            text-align: center;
        }
    }
    
    @media screen and (max-width:700px) {
        .cards-container {
            float: unset;
            margin-left: 50%;
            align-items: center;
            margin: 0 60px 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding-top: 10rem;
        }
        .card__image {
            align-items: space-between;
            width: 250px;
            height: 210px;
        }
        .card {
            margin: 0 1.5%;
            background: transparent;
            align-items: center;
            text-align: center;
            float: left;
            width: 45%;
            padding: 0 2rem;
        }
        @media screen and (max-width:650px) {
            .wiki-section img {
                margin-top: 50px;
                overflow: hidden;
                width: 45rem;
                position: center;
                border: none;
                margin-left: 13%;
                float: unset;
                border-radius: 5px;
            }
            .card {
                align-items: center;
                text-align: center;
                float: none;
                width: 45%;
                padding: 0.5rem 2;
            }
            .card__image {
                align-items: center;
            }
            .cards {
                max-width: 1200px;
                padding-top: 60rem;
                margin: 40px auto;
            }
            .card__copy {
                padding: 0px;
            }
            iframe {
                background-size: 100%;
                overflow: hidden;
                width: 45rem;
                height: 50rem;
                position: center;
                border: none;
                margin-left: 17%;
            }
            .livemap-section .fullscreen {
                align-items: center;
                position: center;
                margin-left: 15%;
            }
        }
        @media screen and (max-width:600px) {
            .wiki-section img {
                margin-top: 50px;
                overflow: hidden;
                width: 45rem;
                position: center;
                border: none;
                margin-left: 10%;
                float: unset;
                border-radius: 5px;
            }
            .wiki-section {
                padding: 0;
            }
            .inner-container {
                padding: 60px;
            }
            iframe {
                background-size: 100%;
                overflow: hidden;
                width: 40rem;
                height: 45rem;
                position: center;
                border: none;
                margin-left: 19%;
            }
        }
        @media screen and (max-width:550px) {
            iframe {
                width: 40rem;
                height: 45rem;
                position: center;
                margin-left: 15%;
            }
            .wiki-section img {
                margin-top: 50px;
                overflow: hidden;
                width: 45rem;
                position: center;
                border: none;
                margin-left: 7%;
                float: unset;
                border-radius: 5px;
            }
        }
        @media screen and (max-width:500px) {
            iframe {
                width: 40rem;
                height: 45rem;
                position: center;
                margin-left: 10%;
            }
            .livemap-section .fullscreen {
                align-items: center;
                position: center;
                margin-left: 0;
            }
            .wiki-section img {
                margin-top: 50px;
                overflow: hidden;
                width: 35rem;
                position: center;
                border: none;
                margin-left: 15%;
                float: unset;
                border-radius: 5px;
            }
        }
        @media screen and (max-width:450px) {
            .wiki-section img {
                margin-top: 50px;
                overflow: hidden;
                width: 35rem;
                position: center;
                border: none;
                margin-left: 10%;
                float: unset;
                border-radius: 5px;
            }
        }
        @media screen and (max-width:400px) {
            .card__image {
                width: 150px;
                height: 110px;
            }
            .card {
                padding: 0 0px;
            }
            .app-text img {
                height: 30vh;
            }
        }
        @media screen and (max-width:350px) {
            .app-text img {
                height: 25vh;
            }
        }